body, h1, h2, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #ee4705;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.frame {
    padding: 20px;
    text-align: center;
    height: 400px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #666;
    image-resolution: calc();
}
